/* GENERAL */
:root {
	/* CSS HEX */
	--baby-powder: #fbfbf2ff;
	--platinum: #e5e6e4ff;
	--timberwolf: #cfd2cdff;
	--quick-silver: #a6a2a2ff;
	--gray: #bbbab8ff;
	--rocket-metallic: #847577ff;
	--faire:#ee771a;
}

.btn-orange {
	background-color: var(--faire);
	color: white;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

p, ul, li {
    font-size: 16px;
}

/*NAV*/

.bg-color {
	background: var(--faire);
}

.dropdown-menu {
    background-color: #EF822E;
}

#navbar-areve {
	margin-bottom: 110px;
}

.nav-link {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 510;
}

.dropdown-item {
	text-transform: capitalize;
	font-size: 16px;
	color: var(--platinum);
}

.nav-link-white {
	color: var(--platinum);
}

.custom-toggler.navbar-toggler {
    border-color: white;
}

/*Index page*/

.head {
	width: 100%;
	height: 45vh;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 5fr 2fr 1fr;
	grid-template-areas:
	". . . . . . . . . . . ."
	". . title title title title title title title title . ."
	". . . . . . . . . . . .";
	margin-top: 70px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#maison {
	background-image: url("../assets/maison_ind_2.jpg");
}

.titre {
	grid-area: title;
}

.page_une {
	width: 100%;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media(max-width:414px) {
	.page_une {
		display: none;
	}
}

@media(min-width:494px) {
	.telecharger {
		margin-top: 40px;
	}
}

.greenUp {
	text-transform:uppercase;
	color: var(--faire);
}

.headUp {
	font-family: 'Open Sans', sans-serif;
	font-size: 3.6rem;
	font-weight:600;
	background-color: #fff;
	padding:20px 30px;
}

.col-une {
	background-color: rgba(199, 187, 158, 0.43);
	border: 1px solid black;
	border-radius: 1.1rem;
	padding: 15px 10px;
}

.titre-section-une {
	font-family: 'Dancing Script', cursive;
	font-size: 3.2rem;
}

.sous-titre-section-une {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6rem;
}

.logo-min {
	width: 50px;
	margin: 10px auto;
}

.logo-min-h {
	width:70px;
	margin: 10px auto;
}

.row-logos {
	align-items:center;
	margin-top: 1.5rem;
}

@media(max-width:736px) {
	.titre-section-une {
		font-size: 3.5rem;
	}
	.sous-titre-section-une {
		font-size: 16px;
		line-height: 1.4rem;
	}
	.logo-min {
		max-width: 40px;
		margin: 10px 5px;
	}
}

/*ACTUALITES*/

.container-actus {
	text-align: center;
}

.actus {
	margin: 20px 0 0 0;
	padding: 40px 0;
	background-color: #F1F5F9;
/*	border-top: 1px solid var(--timberwolf);
*/	/* background-color: var(--timberwolf); */
}

.news {
	padding: 10px;
	text-align: justify;
}

.actu-titre {
	font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
	font-weight: 700;
	color: var(--faire);
}

.meta-actu {
	font-style: italic;
}
/*footer*/

.border-faire {
	border-top: 2px solid var(--faire);
}

.cnt-footer {
  margin: O auto;
  padding: 15px;
  text-align:justify;
}

@media(max-width:496px) {
	.cnt-footer {
	  text-align: center;
	}
}

section {
	padding:20px;
}

/* ---------------------------------------------------------- */

/*cards */
#headCards {
	/* margin: 20px; */
	min-height: 450px;
}

label {
	margin:5px;
	vertical-align: center;
}

table, th, td, tr {
	border: 1px solid rgb(65, 70, 94);
	border-collapse: collapse;
}

.logo_nav {
    max-width:210px;
	padding: 0;
    /* max-height:55px; */
    height:auto;
}

.info {
	text-align:center;
	border:1px solid gray;
	padding:5px;
}

.greenLo {
	color: var(--faire);
}

.contactAside {
	padding:10px;
	font-size:16px;
}

.contactAside a {
	text-decoration: none;
}

@media (max-width:576px){
	.contactAside {
		text-align: center;
		font-size: 18px;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
	.phone {
		text-align: center;
	}
}
@media (max-width:973px) {
	.test {
		margin-top: 30px;
	}
}

input, select {
    margin-right: 10px;
}

  .section-copro {
	/* background-image: linear-gradient(to right bottom, #313a74, #6d457c, #9b557d, #be6b7b, #d6887b, #da8c75, #dc916e, #dc9668, #d47f55, #cb6745, #c14d38, #b72e2e); */
	background-image: url(../assets/bg_copro.png);
	width: 100%;
	  height: auto;
  }

  .flex-contain {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between;
	  margin-bottom: 20px;
  }

  .particulier {
	min-height: 250px;
	background-image: url('../assets/particuliers_bandeau.jpg');
	/* padding: 20px; */
	position: relative;
	margin-bottom: 20px;
	background-repeat: no-repeat;
}
.particulier-services {
	min-height: 250px;
	background-image: url('../assets/particuliers_services.jpg');
	padding: 20px;
	position: relative;
	margin-bottom: 20px;
	background-repeat: no-repeat;
}
.header-particulier {
	text-align: center;
	padding: 20px;
}